pkgbase = slosh
	pkgdesc = Terminal multiplexer: panes, tabs, and sessions you can detach from, on libghostty-vt
	pkgver = 0.1.1
	pkgrel = 1
	url = https://slosh.foo
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = zig
	depends = glibc
	source = slosh-v0.1.1.tar.gz::https://git.sl0p.foo/slosh.git/snapshot/slosh-v0.1.1.tar.gz
	sha256sums = c28545524bff2e1582aae34068512439112db8a03c81b587a813492b6912323c

pkgname = slosh
